
body{
    margin: 0px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Sono', sans-serif;
    color: white;

}
#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 35%, #ffffff 97%, #fbf4f4 98%);

    height: 100vh;
}

#main-title{
    font-size: 5rem;
    margin: 0px;
}

#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312f2f;
    height: 200px;
    width: 700px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(15, 14, 14, 0.3);
}

#word-input{
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding: 0px;  
    font-size: 20px;
    text-align: center;
}

#submit-btn{
    height: 50px;
    width: 160px;
    color: white;
    font-size: 15px;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    border: none;
    border-radius: 100px;
    margin: 0px 10px;
    cursor: pointer;
}
.fa-solid{
    font-size: 30px;
}

#submit-btn:hover{
     background-image: linear-gradient( 135deg, #0091f9 10%, #0396FF 100%);
}

#replay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312f2f;
    height: 400px;
    width: 700px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    line-height: 26.22px;
    color: #fefefe;
    line-height: 2;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 13pt; 
    border: 3px solid black;
    overflow: auto;
    display: inline-block;
    overscroll-behavior: contain;
}

/* Dimensions : iPhone 12 Pro */
@media screen and (max-width : 400px) {
    body {
    margin: 0px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Sono', sans-serif;
    color: #312f2f;
}
#main-container{
    
    height: 1000px;
    width: 400px;
    padding: 5px;
    margin-top: -57px;
    border-radius: 38px;
    box-shadow: 0px 10px 15px rgba(15, 14, 14, 0.3);

 }

#main-title{
    font-size: 2rem;
    margin: 0px;
    top: 10px;
    position: relative;
}

#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312f2f;
    height: 115px;
    width: 369px;
    padding: 5px;
    margin-top: 16px;
    margin-bottom: 10px;
    border-radius: 38px;
    box-shadow: 0px 10px 15px rgba(15, 14, 14, 0.3);
}

#word-input{
    width: 325px;
    height: 51px;
    border: none;
    border-radius: 50px;
    padding: 0px;
    line-height: 2;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 13pt;
    text-align: center;
}

#submit-btn{
      height: 50px;
    width: 50px;
    color: white;
    font-size: 15px;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    border: none;
    border-radius: 100px;
    margin: 5px;
    cursor: pointer;
}
.fa-solid{
    font-size: 30px;
}

#submit-btn:hover{
     background-image: linear-gradient( 135deg, #0091f9 10%, #0396FF 100%);
}

#replay-content {
    background-color: #312f2f;
    height: 571px;
    width: 300px;
    padding: 30px;
    margin-top: 0px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    /* line-height: 26.22px; */
    color: #fefefe;
    line-height: 2;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 13pt;
    border: 3px solid black;
    overflow: auto;
    display: inline-block;
    overscroll-behavior: contain;
}

}
/* Dimensions: iPad Air */
@media screen and (max-width: 1200px) and (min-width: 768px) {

 body {
    margin: 0px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Sono', sans-serif;
    color: #312f2f;
}
#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312f2f;
    height: 1250px;
    width: 788px;
    padding: 5px;
    margin-top: -42px;
    border-radius: 38px;
    box-shadow: 0px 10px 15px rgba(15, 14, 14, 0.3);

 }

#main-title{
    font-size: 4rem;
    margin: 12px;
    top: 0px;
    position: relative;
    /* width: 100%; */
    color: black;
}

#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312f2f;
    height: 115px;
    width: 369px;
    padding: 5px;
    margin-top: 16px;
    margin-bottom: 10px;
    border-radius: 38px;
    box-shadow: 0px 10px 15px rgba(15, 14, 14, 0.3);
}

#word-input{
    width: 697px;
    height: 81px;
    border: none;
    border-radius: 50px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
}

#submit-btn{
      height: 50px;
    width: 50px;
    color: white;
    font-size: 15px;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    border: none;
    border-radius: 100px;
    margin: 5px;
    cursor: pointer;
}
.fa-solid{
    font-size: 30px;
}

#submit-btn:hover{
    background-image: linear-gradient( 135deg, #0091f9 10%, #0396FF 100%);
}

#replay-content {
    background-color: #312f2f;
    height: 818px;
    width: 700px;
    padding: 9 px;
    margin-top: 0px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    /* line-height: 26.22px; */
    color: #fefefe;
    line-height: 2;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 13pt;
    border: 3px solid black;
    overflow: auto;
    display: inline-block;
    overscroll-behavior: contain;
}

}
